# Goal: Geospatial Analysis of Mental Health Metrics Across U.S. States

-  These datasets from the www.commonwealthfund.org/datacenter provide information on mental health care access for different age groups. "Adults with Unmet Mental Health Needs" shows gaps in care for diagnosed adults, while "Adults with Untreated Mental Illness" reveals those not receiving treatment. "Children Receiving Needed Mental Health Care" and "Youth with Depression Without Mental Health Care" depict care provision for children and youth. Analyzing these datasets aids in understanding and addressing mental health service disparities.

In [10]:
# Import Dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

In [20]:
#Reading in unmet mental health need per 100,000 population per state.
#unmet_df = pd.read_csv('Resources/adults_with_any_mental_illness_reporting_unmet_need.csv', encoding='cp1252')
#unmet_df.head(10)


unmet_mh_df = pd.read_csv('C:/Users/kgonz/OneDrive/Desktop/UNC_DA_Bootcamp/github repositories/Social_Health/Resources/adults_with_any_mental_illness_reporting_unmet_need.csv', encoding='utf-8')
unmet_mh_df.head(10)

  time_period          state population cohort  point_estimate
0     2009-11  United States        all    All              21
1     2012-14  United States        all    All              20
2     2013-15  United States        all    All              20
3     2014-16  United States        all    All              21
4     2016-17  United States        all    All              22
5     2017-18  United States        all    All              24
6     2018-19  United States        all    All              25
7     2019-20  United States        all    All              28
8     2009-11        Alabama        all    All              21
9     2012-14        Alabama        all    All              19

In [ ]:
unmet_mh_df.tail()

In [17]:
#Reading in untreated  mental illness per 100,000 population per state.
#untreated_mh_df = pd.read_csv('Resources/mental_health_services/adults_with_any_mental_illness_who_did_not_receive_treatment.csv', encoding='cp1252')
#untreated_mh_df.head(10)


untreated_mh_df = pd.read_csv('C:/Users/kgonz/OneDrive/Desktop/UNC_DA_Bootcamp/github repositories/Social_Health/Resources/adults_with_any_mental_illness_who_did_not_receive_treatment.csv', encoding='utf-8')
untreated_mh_df.head(10)

  time_period          state population cohort  point_estimate
0     2009-11  United States        all    All              59
1     2012-14  United States        all    All              57
2     2013-15  United States        all    All              56
3     2014-16  United States        all    All              56
4     2016-17  United States        all    All              57
5     2017-18  United States        all    All              57
6     2018-19  United States        all    All              56
7     2019-20  United States        all    All              55
8     2009-11        Alabama        all    All              59
9     2012-14        Alabama        all    All              54

In [18]:
untreated_mh_df.tail()

    time_period    state population cohort  point_estimate
411     2014-16  Wyoming        all    All              56
412     2016-17  Wyoming        all    All              64
413     2017-18  Wyoming        all    All              65
414     2018-19  Wyoming        all    All              62
415     2019-20  Wyoming        all    All              54

In [ ]:
#Reading in received mental health per 100,000 population per state.
received_mh_child_df = pd.read_csv('Resources/mental_health_services/children_who_received_needed_mental_health_care.csv', encoding='cp1252')
received_mh_child_df.head(10)

In [ ]:
received_mh_child_df.tail()

In [ ]:
#Reading in received mental health per 100,000 population per state.
unmet_mh_youth_df = pd.read_csv('Resources/mental_health_services/youth_with_depression_without_mental_health_care.csv', encoding='cp1252')
unmet_mh_youth_df.head()

In [ ]:
unmet_mh_youth_df.tail()

In [22]:
# Merging datasets (adults)
combined_df = pd.merge(unmet_mh_df, untreated_mh_df, on=['time_period', 'state', 'population', 'cohort'], suffixes=('_unmet', '_untreated'))

combined_df.tail()

,time_period,state,population,cohort,point_estimate_unmet,point_estimate_untreated
411,2014-16,Wyoming,all,All,21,56
412,2016-17,Wyoming,all,All,19,64
413,2017-18,Wyoming,all,All,20,65
414,2018-19,Wyoming,all,All,25,62
415,2019-20,Wyoming,all,All,27,54

In [ ]:
# Defining the time periods to filter on -to include children
time_period_range = ['2016-17', '2017-18', '2018-19', '2019-20', '2020-21']
combined_2016_20_df_filtered_shuffled = combined_df[combined_df['time_period'].isin(time_period_range)].sample(frac=1).reset_index(drop=True)
combined_2016_20_df_filtered_shuffled.tail()

In [ ]:

# Filter child dataframe for the years 2016-2021
received_mh_child_filtered = received_mh_child_df[received_mh_child_df['time_period'].isin(['2016-17', '2017-18', '2018-19', '2019-20', '2020-21'])]

# Merge the filtered dataframes
merged_df = pd.merge(unmet_mh_df, untreated_mh_df, on=['time_period', 'state', 'population', 'cohort'], suffixes=('_unmet', '_untreated'))
merged_df = pd.merge(merged_df, received_mh_child_filtered, on=['time_period', 'state', 'population', 'cohort'])
 
# Display the merged dataframe
merged_df.head()

In [ ]:
# Filter youth dataframe for the year 2019-2020
unmet_mh_youth_filtered = unmet_mh_youth_df[unmet_mh_youth_df['time_period'].isin(['2019-20'])]

# Merge the filtered dataframes
merged_2019_20_df = pd.merge(merged_df, unmet_mh_youth_filtered, on=['time_period', 'state', 'population', 'cohort'])

# Display the merged dataframe
merged_2019_20_df.tail()

In [23]:
# exporting merged data to csv 
#merged_2019_20_df.to_csv('Cleaned_Dataframes/Merged_Dataframes_cleaned.csv', index=False)

#adults merged csv
combined_df.to_csv('states_mh_report_merged.csv', index=False)